# Example environment variables
# Copy this file to .env and fill in your actual values

# API Keys
ALPACA_API_KEY=
ALPACA_SECRET_KEY=

PAPER = True

# PAPER_API_KEY=
# PAPER_API_SECRET=

# LIVE_API_KEY=
# LIVE_API_SECRET=


# API URLs (optional - defaults will be used if not specified)
# ALPACA_BASE_URL=https://paper-api.alpaca.markets

# Other configuration
# Add any other environment variables your app needs here